<a ui-sref="movies.newMovie" class="btn-primary btn-lg nodecoration">Add New Movie</a>
<button type="button" class="btn " toggle="showDetails">Button Toggle</button>
<table class="table movietable">
  <tr>
    <td><h3>All Movies</h3></td>
    <td></td>
  </tr>
  <tr ng-repeat="movie in ListMovie">
    <td>{{movie.title}}</td>
    <td>
      <a class="btn btn-primary" ui-sref="movies.viewMovie({id:movie._id})">View</a>
      <a class="btn btn-danger"  ng-click="deleteMovie(movie._id)">Delete</a>
    </td>
  </tr>
</table>

<textarea name="" class="form-control" rows="15" ng-model="number"></textarea>
<button ng-click="addNumber()">button</button>

<input type="file" file-reader="fileContent" />
