<section>
  <!-- Rounded Checkbox -->
  <h3>Rounded Checkbox</h3>
  <div class="flatRoundedCheckbox">
    <input type="checkbox" value="1" id="flatOneRoundedCheckbox" name="" />
    <label for="flatOneRoundedCheckbox"></label>
    <div></div>
  </div>
</section>

<section>
    <!-- Flat Checkbox -->
    <h3>Flat Checkbox</h3>
    <div class="flatCheckbox">
        <input type="checkbox" value="1" id="flatOneCheckbox" name="" />
        <label for="flatOneCheckbox"></label>
        <div></div>
    </div>
</section>

<section class="main">

  <ul class="ch-grid">
    <li>
      <div class="ch-item">
        <div class="ch-info">
          <h3>Music poster</h3>
          <p>by Jonathan Quintin <a href="http://drbl.in/eGjw">View on Dribbble</a></p>
        </div>
        <div class="ch-thumb ch-img-1"></div>
      </div>
    </li>
    <li>
      <div class="ch-item">
        <div class="ch-info">
          <h3>Beer Poster 2</h3>
          <p>by Jon Gerlach <a href="http://drbl.in/eFWR">View on Dribbble</a></p>
        </div>
        <div class="ch-thumb ch-img-2"></div>
      </div>
    </li>
    <li>
      <div class="ch-item">
        <div class="ch-info">
          <h3>Devi Tara</h3>
          <p>by Kawal Oberoi <a href="http://drbl.in/eFED">View on Dribbble</a></p>
        </div>
        <div class="ch-thumb ch-img-3"></div>
      </div>
    </li>
  </ul>

</section>
