<!-- <section>
  <h3>Rounded Checkbox</h3>
  <div class="flatRoundedCheckbox">
    <input type="checkbox" value="1" id="flatOneRoundedCheckbox" name="" />
    <label for="flatOneRoundedCheckbox"></label>
    <div></div>
  </div>
</section>
 -->
<section>
    <!-- Flat Checkbox -->
    <h3>Flat Checkbox</h3>
    <div class="flatCheckbox">
        <input type="checkbox" value="1" id="flatOneCheckbox" name="" />
        <label for="flatOneCheckbox"></label>
        <div></div>
    </div>
</section>

<section>
  <h3>Custom directive</h3>
  <button-toggle ctrl="buttonCssCtrl"></button-toggle>
</section>
<!-- {{butCtrl.dataList}} -->
<section>
  <h3>Directive to Directive communication with "require"</h3>
  <div>
    <tabs active="0">
      <tab label="Tab 1">
        Tab 1 contents!
       </tab>
       <tab label="Tab 2">
        Tab 2 contents!
       </tab>
       <tab label="Tab 3">
        Tab 3 contents!
       </tab>
    </tabs>
  </div>
</section>

<!-- <user-info name="'Users Table'"></user-info> -->

<!-- using ngMessage to validate Form -->
<section>
  <form name="userForm" novalidate>
          
      <!-- name field -->
      <div class="form-group" ng-class="{ 'has-error': userForm.name.$touched && userForm.name.$invalid }">
          <label>Name</label>
          <input type="text" name="name" class="form-control" 
              ng-model="main.name"
              ng-minlength="5"
              ng-maxlength="10"
              required>
              
          <!-- ngMessages goes here -->
          <div class="help-block" ng-messages="userForm.name.$error" ng-if="userForm.name.$touched">
              <p ng-message="minlength">Your name is too short.</p>
              <p ng-message="maxlength">Your name is too long.</p>
              <p ng-message="required">Your name is required.</p>
          </div>
      </div>
      <!-- email field -->
      <div class="form-group" ng-class="{ 'has-error': userForm.name.$touched && userForm.name.$invalid }">
          <label>Email</label>
          <input type="email" name="email" class="form-control" 
              ng-model="main.email"
              ng-minlength="5"
              ng-maxlength="20"
              required>
              
          <!-- ngMessages goes here -->
          <div class="help-block" ng-messages="userForm.email.$error">
              <div ng-messages-include="scripts/tutorials/views/messages.html"></div>
          </div>
      </div>
      
      <div class="form-group">
          <button type="submit" class="btn btn-danger">Submit</button>
      </div>
  </form>
</section>