<!-- <section>
  <h3>Rounded Checkbox</h3>
  <div class="flatRoundedCheckbox">
    <input type="checkbox" value="1" id="flatOneRoundedCheckbox" name="" />
    <label for="flatOneRoundedCheckbox"></label>
    <div></div>
  </div>
</section>
 -->
<section>
    <!-- Flat Checkbox -->
    <h3>Flat Checkbox</h3>
    <div class="flatCheckbox">
        <input type="checkbox" value="1" id="flatOneCheckbox" name="" />
        <label for="flatOneCheckbox"></label>
        <div></div>
    </div>
</section>

<section>
  <h3>Custom directive</h3>
  <button-toggle ctrl="buttonCssCtrl"></button-toggle>
</section>
<!-- {{butCtrl.dataList}} -->
<section>
  <h3>Directive to Directive communication with "require"</h3>
  <div>
    <tabs active="0">
      <tab label="Tab 1">
        Tab 1 contents!
       </tab>
       <tab label="Tab 2">
        Tab 2 contents!
       </tab>
       <tab label="Tab 3">
        Tab 3 contents!
       </tab>
    </tabs>
  </div>
</section>
