<nav class="ph-lift1">
    <ul>
      <li class="active"><a ui-sref="index" data-title="Home"><span data-title="Home">Home</span></a>
        <ul>
          <li><a ui-sref="tutorials" ><span data-title="Tutotials">Tutotials</span></a></li>
          <li><a ui-sref="movies.listMovie" ><span data-title="Practice CURD">Practice CURD</span></a></li>
        </ul>
      </li>

      <li><a ui-sref="tutorials.css" ><span data-title="HTML + CSS">HTML + CSS</span></a>
        <ul>
          <li><a ui-sref="tutorials.responsive" ><span data-title="Reponsive Table">Reponsive Table</span></a></li>
          <li><a ui-sref="tutorials.button" ><span data-title="Button CSS">Button CSS</span></a></li>
          <li><a ui-sref="tutorials.asynchronous" ><span data-title="Asynchronous Example">Asynchronous Example</span></a></li>
        </ul>
      </li>
      <!-- <li>
        <a href="#" ><span data-title="Who am I?">Who am I?</span></a>
      </li>
      <li><a href="#" ><span data-title="Contact me">Contact me</span></a>
        <ul>
          <li><a href="#" ><span data-title="Email me">Email me</span></a></li>
          <li><a href="#about" ><span data-title="Network">Network</span></a></li>
        </ul>
      </li> -->
    <ul>
  </nav>
