<!doctype html>
<html ng-app="myapp">
  <head>
    <meta charset="utf-8">
    <title ng-bind="title">Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link ng-if="!$state.includes('index')" rel="stylesheet" href="styles/navigation.css"> -->
    <!-- <link ng-if="!$state.includes('index')" rel="stylesheet" href="styles/page1.css"> -->
    <!-- <link ng-if="!$state.includes('index')" rel="stylesheet" href="styles/page1-post.css"> -->
    <!-- <link ng-if="!$state.includes('index')" rel="stylesheet" href="styles/page2.css"> -->
    <!-- <link rel="stylesheet" href="styles/calender.css"> -->
    <!-- <link ng-if="!$state.includes('index')" rel="stylesheet" href="styles/text.directive.css"> -->
    <link ng-if="!$state.includes('index')" rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/menu.css" media="screen" />
    <link rel="stylesheet" href="styles/app.css">
    <link rel="stylesheet" href="styles/style-tutorial.css">
  </head>
  <body>
    <div ng-if="$state.includes('index')" ng-include="'views/header.html'"></div>
    <div ng-if="!$state.includes('index')" ui-view></div>

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

  <script src="scripts/app.module.js"></script>
  <script src="scripts/app.config.js"></script>
  <!-- Tutorials -->
  <script src="scripts/tutorials/router/tutorial.route.js"></script>
  <script src="scripts/tutorials/directive/button-toggle.directive.js"></script>
  <script src="scripts/tutorials/directive/tab.directive.js"></script>
  <script src="scripts/tutorials/controllers/html-css/button-css.controllers.js"></script>

  <!-- Page1 -->
  <script src="scripts/page1/route/page1.route.js"></script>
  <script src="scripts/page1/controllers/page1.controller.js"></script>
  <script src="scripts/page1/controllers/page1-post.controller.js"></script>

  <!-- Page2 -->
  <script src="scripts/page2/route/page2.route.js"></script>
  <script src="scripts/page2/controllers/page2.controller.js"></script>
  <script src="scripts/page2/service/page2-news.service.js"></script>

  <!-- page 3 -->
  <script src="scripts/page3/route/page3.route.js"></script>
  <script src="scripts/page3/controllers/calender.controller.js"></script>
  <script src="scripts/page3/directive/calender.directive.js"></script>

  <!-- animation-css3 -->
  <script src="scripts/animation-css3/controllers/text.controller.js"></script>
  <script src="scripts/animation-css3/directive/text.directive.js"></script>
  <script src="scripts/animation-css3/directive/scrollPanel.directive.js"></script>
  <script src="scripts/animation-css3/directive/modal.directive.js"></script>

  <!-- movie -->
  <script src="scripts/CRUD-API/route/movie.route.js"></script>
  <script src="scripts/CRUD-API/controller/movie-list.controller.js"></script>
  <script src="scripts/CRUD-API/controller/movie-view.controller.js"></script>
  <script src="scripts/CRUD-API/controller/movie-add-or-edit.controller.js"></script>
  <script src="scripts/CRUD-API/service/movie.service.js"></script>
  <script src="scripts/CRUD-API/service/popup.service.js"></script>

  <!-- Directive -->
  <script src="scripts/directive/toggle.directive.js"></script>
  <script src="scripts/directive/readfile.directive.js"></script>

  <!-- endbuild -->
</body>
</html>
