<section>
  <!-- Rounded Checkbox -->
  <h3>Rounded Checkbox</h3>
  <div class="flatRoundedCheckbox">
    <input type="checkbox" value="1" id="flatOneRoundedCheckbox" name="" />
    <label for="flatOneRoundedCheckbox"></label>
    <div></div>
  </div>
</section>

<section>
    <!-- Flat Checkbox -->
    <h3>Flat Checkbox</h3>
    <div class="flatCheckbox">
        <input type="checkbox" value="1" id="flatOneCheckbox" name="" />
        <label for="flatOneCheckbox"></label>
        <div></div>
    </div>
</section>

<section>
  <h3>Custom directive</h3>
  <button-toggle></button-toggle>
</section>

