<nav>
  <ul>
    <li><a href="">Home</a></li>
    <li><a href="">Community</a>
      <ul>
        <li><a href="">Recent Activity</a></li>
        <li><a href="">Member Forum</a></li>
        <li><a href="">Member List</a></li>
        <li><a href="">Member Groups</a></li>
      </ul>
    </li>
    <li><a href="">Pet Help</a>
      <ul>
        <li><a href="">Vets</a></li>
        <li><a href="">Hospital</a></li>
        <li><a href="">Insurance</a></li>
        <li><a href="">Service</a></li>
      </ul>
    </li>
    <li><a href="">Pets For Sale</a></li>
    <li><a href="">Pets Services</a></li>
  </ul>
</nav>
