<input type="text" ng-model="vm.letter">
<table>
  <thead>
  <tr>
    <th>Movie</th>
    <th>Release Date</th>
    <th>IMDB Rating</th>
    <th>Director</th>
    <th>Staring</th>
  </tr>
  </thead>
  <tr ng-repeat="movie in vm.movies | startWithLetterFilter: vm.letter">
    <td data-title="Movie">{{movie.title}}</td>
    <td data-title="Release Date">{{movie.ReleaseDate}}</td>
    <td data-title="IMDB Rating">{{movie.IMDBRating}}</td>
    <td data-title="Director">{{movie.Director}}</td>
    <td data-title="Staring">{{movie.Staring}}</td>
  </tr>
</table>

<file-upload></file-upload>